* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    font-size: large;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
  }
  
  .score-container {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
  }
  
  button {
    background: goldenrod;
    border-radius: 8px;
    color: black;
    font-size: 20px;
    letter-spacing: 0.21px;
    max-width: 255px;
    padding: 20px 52px;
    text-align: center;
    margin-top: 0.6em;
  }
  
  header {
    padding: 20px;
    text-align: center;
    background: rgb(74, 74, 99);
    color: white;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  section {
    flex: 0 auto;
    padding: 8px;
    margin-top: 50px;
    background-color: white;
    border-radius: 8px;
    flex-direction: column;
  }

  .large-font {
    font-size: 3.5em;
    text-align:center;
  }
  
  .timer {
    height: 175px;
    padding: 10px;
    background: #13293d;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    border-radius: 8px;
  }

  @media screen and (max-width: 1183px) {
    main {
      flex-direction: column;
    }
  
    .results {
      width: 90vw;
    }
  
    section {
      background-color: white;
      margin: 20px auto;
      width: 92vw;
    }
  }
  
  @media screen and (max-width: 504px) {
    .large-font {
      font-size: 2em;
    }

    .timer {
      height: 200px;
    }
}